@page "/"
@attribute [Authorize]

<div class="alert alert-secondary mt-4">
    <strong>@Title</strong>
    <h5>Система учета и контроля для отдела механиков</h5><img src="./images/gisal.png" style="width:100px;" /><br />
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <span class="text-nowrap">
        Приветствуем Вас на информационном портале, позволяющем производить заказы комплектующих фирмы Gisal.
        <br /><br />
        Система позволяет фильтровать, сортировать, просматривать удаленные, а также выгружать в Excel заказы.<br />
        В карточке заказа есть возможность добавлять и удалять файлы, менять статус и вести переписку в окне чата, в реальном времени.<br />
        Время обновления данных происходит каждую секунду, если произошли изменения.<br /><br />
    </span>
    <span>
        В системе есть несколько ролей пользователей, каждая из которых имеет различные права и возможности:<br />
        Заказчик: - (Администратор и Оператор)<br />
        {<br />
        &emsp; Каждый заказчик видит только свои заказы<br />
        &emsp; Заказчик может создавать, копировать, просматривать, изменять, удалять и восстанавливать заказы.<br />
        &emsp; Копировать заказ запрещено при статусе - "Отменить заказ", "Заказ отменен".<br />
        &emsp; Изменять заказ можно при статусе - "Заказ создан", "Заказ принят", "Дата исполнения заказа просрочена".<br />
        &emsp; Возможность удалить заказ только пока поставщик не поставил какой-либо статус заказу. В остальных случаях запрещено удалять.<br />
        }<br />
    </span>
    <span>
        Поставщик:<br />
        {<br />
        &emsp; На странице заказов может выбрать заказчика<br />
        &emsp; Поставщик может просматривать и изменять заказы.<br />
        &emsp; Изменять заказ запрещено при статусе - "Если заказ просрочен и превышено количество попыток продления даты поставки", "Заказ исполнен и поступил заказчику".<br />
        &emsp; Есть счетчик продления даты поставки заказа, работает только с просроченными заказами, допустимое число продлений 2 раза. Заказчик может сбросить счетчик.<br />
        &emsp; Заполнение кода GISAL и даты поставки заказа должно быть обязательным для установки статуса.<br />       
        &emsp; Поставщик может менять статус заказа только в одну сторону, нет возможности установить предыдущий статус.<br />
        &emsp; У поставщика нет пункта «заказ отменен», до тех пор, пока заказчик не поставит статус «отменить заказ».<br />
        }<br />
    </span>    
    <span>
        На странице пользователя:<br />
        {<br />
        &emsp; Список с выбором заказчика доступен только ролям - Оператор и Администратор. Заказчики видят только своих пользователей.<br />
        &emsp; Роль Разработчик и Поставщик доступна только пользователям с ролью Разработчик.<br />
        &emsp; Роль Наблюдатель доступ только на чтение, с возможностью писать сообщения (sms) в заказах.<br />
        }<br /><br />
    </span>
    На портале также доступны вкладки:<br />
    1. "Администрирование" можно изменить пароль пользователя.<br />
    2. "Журнал изменений" ведется логирование всех действий, которые можно отфильтровать.
    <div class="row alert alert-secondary">
        <div class="col">
            <h5><i class="fa fa-solid fa-keyboard"></i> Горячие клавиши</h5>
            <span class="text-nowrap">
                Добавить - Ctrl + 1<br />
                Копировать - Ctrl + 2<br />
                Просмотр - Ctrl + 3<br />
                Изменить - Ctrl + 4<br />
                Удалить - Ctrl + 5<br />
                Восстановить - Ctrl + 6<br />
            </span>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [CascadingParameter]
    public MainLayout Layout { get; set; }
    protected override void OnInitialized()
    {
        Layout.Title = "О программе";
    }

}